@use "variables" as *;
@use "reset";

.index {
  &-backdrop {
    background-color: $backdrop-color;
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-search {
    &__form {
      background-color: $primary-background;
      display: flex;
      justify-content: start;
      padding: 20px 0px;
      font-size: 18px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      width: 80%;

      button {
        cursor: pointer;
        color: $placeholder-color;
        background-color: $primary-background;
        border: none;
        margin: 0px 20px;

        &:hover {
          color: black;
          transition: 1000ms;
        }
      }
    }

    &__input {
      border: none;
      background-color: $primary-background;
      width: 80%;

      &::placeholder {
        color: $placeholder-color;
      }
    }

    &__box {
      width: 100%;
    }
  }
}

.picture {
  &-display {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
    padding: 0px 20px;
  }
  &-carousel {
    display: grid;
    gap: 50px;
    row-gap: 30px;
    grid-auto-rows: minmax(min-content, auto);
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: $breakpoint-mobile) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint-tab) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &-card {
    float: left;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    height: fit-content;
    img {
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }
}
#index-search__header {
  display: none;
}
